RewriteEngine on

RewriteRule ^/?t/teddit/comments/thing_(.*)$ comments.php?id=$1 [L]
RewriteRule ^/?view_message/message_(.*)$ view_message.php?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*) $1.php [L]


